# CAO Points Analysis
***

In [1]:
# import required libraries
import requests as rq             # Convenient HTTP requests.
import re                         # Regular expressions.
import datetime as dt   
import pandas as pd
import numpy as np

# Get the current date and time in desired string format
nowstr = dt.datetime.now().strftime('%Y%m%d_%H%M%S')

<br>

**Error on server (reference function below)** <br>
The Server indicated one should decode as per: Content-Type: text/html; charset=iso-8859-1. However, one line of the html uses<br> 
\x96 which isn't defined in iso-8859-1. Therefore the similar decoding standard cp1252 will be  used. This standard is very similar but<br>
includes \x96.

In [2]:

def website_data_handler(url, regex):
    
    response = rq.get(url)                                  # Make a get request to 2021 CAO points URL
    response.encoding = 'cp1252'                            # Specify encoding method as cp1252 despir what server recommended
    
    no_lines = 0                                            # Keep track of courses counted in loop
    
    with open('data/cao2021.csv', 'w') as f:                    # Open the csv file for writing         
        for line in response.iter_lines():                          # Loop through lines of the response 
            dline = line.decode('cp1252')                           # decode the line 
            if regex.fullmatch(dline):                          # Match only the lines representing courses.       
                no_lines = no_lines + 1                                 # Add one to the lines counter if match occured      
                dline_adj = re.sub(" ", "  ", dline, count = 1)         # Substitute first space character with double space     
                linesplit = re.split('   +', dline_adj)                 # Split the line on three or more spaces.  
                f.write(','.join(linesplit) + '\n')                     # Rejoin the substrings with commas in between.         
    print(f"Total number of lines is {no_lines}.")         # Print the total number of processed lines

In [3]:
url_2021 = 'http://www2.cao.ie/points/l8.php'                                                       # Make a get request to 2021 CAO points URL
regex_course_2021 = re.compile(r'([A-Z]{2}[0-9]{3})  (.*)(#?)(?:([AQ]{3})|([V]{1})|([0-9]{3}))(\*?) *')     # define regular expression
website_data_handler(url_2021, regex_course_2021)                                                       # pass paremeters into parse & write function


# Regular Expression breakdown:                Explanation for what characters will be parsed:    
#**************************************        ***************************************************************************************************
# ([A-Z]{2}[0-9]{3})                           first 2 chars (A-Z), next 3 chars, 0-9 followed by two spaces
# (.*)                                         Matches any single character except newline zero or more times
# (?:([AQ]{3})|([V]{1})|([0-9]{3}))            Match (3 x [AQ]) or (1 x V) or (3 x [0-9]) zero or one time
# (\*?) *'                                    \(escaped) "*" so dont treat it as quantifier, treat it by itself. Zero or one * character "?" 
# space *                                     any number of spaces

Total number of lines is 923.

In [17]:
#new_col_order = ['Year', 'CATEGORY (i.e.ISCED description)', 'HEI', 'COURSE TITLE',              
                 #'COURSE CODE2','R1 POINTS', 'R2 POINTS', 'EOS Mid-point', 'EOS', 
                 #'R1 Random *',  'R2 Random*', 'EOS Random *', 'Test/Interview #'] 


def data_formatter_2021():
    
    # read csv from folder and pass list of column headers
    read_path = 'data/cao2021.csv'
    header_list_2021 = ['COURSE CODE', 'COURSE TITLE', 'R1 POINTS', 'R2 POINTS']       
    df = pd.read_csv(read_path, names = header_list_2021)                                                                                                                                               
    
    df.insert(0, 'YEAR', 2021) 
    
    # insert 3 new conditional columns via string operations 
    # explanation : (if col contains string x, return x, else return y)
    df['R1 Random*'] = np.where(df['R1 POINTS'].str.contains('\*'), '*', '')              
    df['R2 Random*'] = np.where(df['R2 POINTS'].str.contains('NaN'), '',               
                         np.where(df['R2 POINTS'].str.contains('\*'), '*', ''))
    
    df['Test/Interview #'] = np.where((df['R1 POINTS'].str.contains('#')) | 
                                      (df['R2 POINTS'].str.contains('#')), '#', '')  
    
    #df_cols = df.columns.tolist()
    
    cols = ['a', 'b', 'c']
    num = [0, 0, 0]
    df.assign(**dict(zip(cols, num)))
    

    
    # remove '*' and '#' from points columns  
    df['R1 POINTS'].replace(regex = ['\*', '#'], value = '', inplace = True)            
    df['R2 POINTS'].replace(regex = ['\*', '#'], value = '', inplace = True)
    return df
    
    
df_2021 = data_formatter_2021()
df_2021.head(50)

,YEAR,COURSE CODE,COURSE TITLE,R1 POINTS,R2 POINTS,R1 Random*,R2 Random*,Test/Interview #
0,2021,AL801,Software Design for Virtual Reality and Gaming,300,NaN,,,
1,2021,AL802,Software Design in Artificial Intelligence for...,313,NaN,,,
2,2021,AL803,Software Design for Mobile Apps and Connected ...,350,NaN,,,
3,2021,AL805,Computer Engineering for Network Infrastructure,321,NaN,,,
4,2021,AL810,Quantity Surveying,328,NaN,,,
5,2021,AL820,Mechanical and Polymer Engineering,327,NaN,,,
6,2021,AL830,General Nursing,451,444,*,,
7,2021,AL832,Mental Health Nursing,440,431,*,,
8,2021,AL835,Pharmacology,356,NaN,,,
9,2021,AL836,Nutrition and Health Science,346,NaN,,,
10,2021,AL837,Sports Science with Exercise Physiology,357,NaN,,,
11,2021,AL838,Biotechnology,324,NaN,,,
12,2021,AL839,Microbiology,325,NaN,,,
13,2021,AL840,Pharmaceutical Sciences,346,NaN,,,
14,2021,AL841,Athletic and Rehabilitation Therapy,477,476,,*,
15,2021,AL842,Bioveterinary Science,338,NaN,,,
16,2021,AL843,Physical Activity and Health Science,306,NaN,,,
17,2021,AL849,Culinary Entrepreneurship,297,NaN,,,
18,2021,AL850,Business,309,NaN,,,
19,2021,AL851,Business and Law,302,NaN,,,
20,2021,AL852,Accounting,336,NaN,,,
21,2021,AL854,Sport Management (with international placement),300,299,,,
22,2021,AL855,Hospitality Management (with international pla...,309,NaN,,,
23,2021,AL857,Digital Marketing,304,NaN,,,
24,2021,AL859,International Business,308,NaN,,,
25,2021,AL860,Social Care Practice,301,NaN,,,
26,2021,AL861,Animation and Illustration (portfolio),575,NaN,,,#
27,2021,AL863,Graphic and Digital Design (portfolio),747,NaN,,,#
28,2021,AL864,Early Years Care and Education,306,NaN,,,
29,2021,AL870,Applied Psychology,484,467,*,*,
30,2021,CW018,Business (options),307,NaN,,,
31,2021,CW028,Early Childhood Education and Care,260,NaN,,,
32,2021,CW038,Art (portfolio),700,NaN,,,#
33,2021,CW058,Tourism and Event Management,292,NaN,,,
34,2021,CW068,Applied Social Studies in Professional Social ...,250,NaN,,,
35,2021,CW078,Sustainable Farm Management and Agribusiness,270,NaN,,,
36,2021,CW088,Visual Communications and Design,270,NaN,,,
37,2021,CW108,Science (options),266,NaN,,,
38,2021,CW128,Brewing and Distilling,307,NaN,,,
39,2021,CW138,Sport and Exercise Science,430,423,,,
40,2021,CW148,Strength and Conditioning,388,NaN,,,
41,2021,CW188,Sport Rehabilitation and Athletic Therapy,451,NaN,,,
42,2021,CW208,Computer Games Development,272,NaN,,,
43,2021,CW238,Software Development,295,NaN,,,
44,2021,CW248,Information Technology Management,293,NaN,,,
45,2021,CW258,Cybercrime and IT Security,292,NaN,,,
46,2021,CW268,Computing in Interactive Digital Art and Design,291,NaN,,,
47,2021,CW438,Construction (options),260,251,,,
48,2021,CW468,Architectural Technology,291,283,,,
49,2021,CW478,Civil Engineering,465,NaN,,,

# 2020 data

In [18]:
def data_handler_2020():
    
    # read in excel 2020 data 
    read_url = 'http://www2.cao.ie/points/CAOPointsCharts2020.xlsx'
    
    
    df = pd.read_excel(read_url, skiprows = 10)     
    #df = pd.read_excel('data/CAOPointsCharts2020.xlsx', skiprows = 10)  

    
    df.insert(0, 'YEAR', 2020) 
    df = df.loc[df.loc[:, 'LEVEL'] == 8]                                                   # re-define df with level 8 courses filtered   
    df.drop(['avp', 'v', 'LEVEL'], axis = 1, inplace = True)                               # drop 'avp' and 'v' columns as these are not in 2019/2021 data
    df = df.iloc[:,:-8]                                                                    # drop last 8 empty cols dropped 
       
    
    # define col order list
    new_col_order = ['YEAR', 'CATEGORY (i.e.ISCED description)', 'HEI', 'COURSE TITLE',              
                     'COURSE CODE2','R1 POINTS', 'R2 POINTS', 'EOS Mid-point', 'EOS', 
                     'R1 Random *',  'R2 Random*', 'EOS Random *', 'Test/Interview #']  
    # re-order columns
    df = df.reindex(columns = new_col_order)                                                
                       
    # re-name columns from dict key to dict value 
    df.rename(columns = {'CATEGORY (i.e.ISCED description)': 'CATEGORY', 'Hei': 'HEI', 
                        'COURSE CODE2': 'COURSE CODE', 'EOS': 'FINAL SEASON POINTS',
                         'EOS Mid-point': 'MID SEASON POINTS', 'EOS Random *': 
                         'FINAL SEASON POINTS RANDOM*'}, inplace = True)      

    
    col_str_replace = ['R1 POINTS', 'R2 POINTS', 'MID SEASON POINTS', 'FINAL SEASON POINTS']              # define list cols for string replace operation 
    df[col_str_replace] = np.where(df[col_str_replace] == '#+matric', 'NaN', df[col_str_replace])         # replace '#+matric' with 'NaN'      
   
    return df
    


data_2020 = data_handler_2020()
data_2020

,YEAR,CATEGORY,HEI,COURSE TITLE,COURSE CODE,R1 POINTS,R2 POINTS,MID SEASON POINTS,FINAL SEASON POINTS,R1 Random *,R2 Random*,FINAL SEASON POINTS RANDOM*,Test/Interview #
0,2020,Business and administration,American College,International Business,AC120,209,NaN,280,209,NaN,NaN,NaN,NaN
1,2020,Humanities (except languages),American College,Liberal Arts,AC137,252,NaN,270,252,NaN,NaN,NaN,NaN
2,2020,Arts,National College of Art and Design,"First Year Art & Design (Common Entry,portfolio)",AD101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#
3,2020,Arts,National College of Art and Design,Graphic Design and Moving Image Design (portfo...,AD102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#
4,2020,Arts,National College of Art and Design,Textile & Surface Design and Jewellery & Objec...,AD103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,2020,Arts,Waterford Institute of Technology,Arts (options),WD200,AQA,AQA,336,AQA,NaN,NaN,NaN,NaN
1460,2020,Information and Communication Technologies (ICTs),Waterford Institute of Technology,Software Systems Development,WD210,279,NaN,337,279,NaN,NaN,NaN,NaN
1461,2020,Information and Communication Technologies (ICTs),Waterford Institute of Technology,Creative Computing,WD211,271,NaN,318,271,NaN,NaN,NaN,NaN
1462,2020,Personal services,Waterford Institute of Technology,Recreation and Sport Management,WD212,270,NaN,349,270,NaN,NaN,NaN,NaN
1463,2020,Engineering and engineering trades,Waterford Institute of Technology,Mechanical and Manufacturing Engineering,WD230,253,NaN,369,253,NaN,NaN,NaN,NaN

In [108]:
# request url for raw pdf
import requests
url = 'http://www2.cao.ie/points/lvl8_19.pdf'
response = requests.get(url)

# write raw pdf to disc
with open('data/cao_2019_raw_data.pdf', 'wb') as f:  
    f.write(response.content)

In [109]:
# read raw pdf from disc
import PyPDF2  

file = open('data/cao_2019_raw_data.pdf', 'rb')
reader = PyPDF2.PdfFileReader(file)
page_count = reader.numPages
#page1 = reader.getPage(0)
#pdf_data = page1.extractText()

for page in range(page_count):
    text = reader.getPage(page)  
    data = text.extractText()    
    pdf_data += data

In [110]:
# write raw_pdf to text file 
text_file = open('data/cao_2019_raw_data.txt', "w")
text_file.write(pdf_data)

text_file.close()

In [112]:
import pandas as pd
import numpy as np

def data_handler_2019(read_path, drop_row_num, drop_header_rows, header_list):  
    
    # read csv (note: gives error when i pass in read_path parameter....check this)
    df = pd.read_csv('data/cao_2019_raw_data.txt', skiprows = skip_row_num, sep = '\n')      
 
    df = df.iloc[:-1 , :]                                             # drop last row (page number)   
    header_rows = []                                                  # get list of header rows for future use
    drop_row_list = ['college', 'institute', 'university', 'school']  # make list of strings, will be used to remove header rows
    
    for row in df.iloc[:,0]:
        for item in drop_row_list:
            if item in row:
                header_rows.append(row)
                print(item)   
       
    df = df[~df.iloc[:, 0].isin(drop_header_rows)]                     # drop rows in list    
    array = df.values.reshape(41,4)                                    # reshape df to numpy array
    df_final = pd.DataFrame(array, columns = header_list)              # convert np.array to df and add  add headers
    df_final.to_csv(write_path)                                        # write to csv
    
    return df_final
    
   
# 2019 pdf variables
read_path = 'data/cao_2019_raw_data.txt'
skip_row_num = 19
header_list_2019 = ['COURSE CODE', 'COURSE TITLE', 'R1 POINTS', 'R2 POINTS']  
write_path = 'data/cao2019.csv' 

data_2019 = data_handler_2019(drop_header_rows, skip_row_num, drop_header_rows, header_list_2019)
data_2019.head(50)

ValueError: cannot reshape array of size 22593 into shape (41,4)

drop_header_rows = ['Athlone Institute of Technology', 
                    'Institute of Technology, Carlow', 
                    
                    'Carlow College, St. Patrick`s', 
                    'Cork Institute of Technology',
                    
                    'University College Cork (NUI)',

                    'American College', 
                    'CCT College Dublin',
                    'Marino Institute of Education',                      
                    'Dublin Business School', 
                    
                    'Dublin City University', 
                    
                    'Technological University Dublin City Campus', 
                    
                    'Dun Laoghaire Institute of Art, Design and Technology',
                    'Griffith College',
                    
                    'ICD Business School',
                    'Technological University Dublin Blanchardstown Campus',
                    'Technological University Dublin Tallaght Campus',
                    
                    'National College of Art and Design', 
                    'National College of Ireland (NCI)',
                    'Royal College of Surgeons in Ireland',
                    'Trinity College Dublin',
                    
                    'University College Dublin (NUI)',
                    
                    'Dundalk Institute of Technology',
                    'Galway-Mayo Institute of Technology',
                    
                    'National University of Ireland, Galway',
                    
                    'Letterkenny Institute of Technology', 
                    
                    'Mary Immaculate College',
                    'Irish College of Humanities & Applied Sciences',
                    'Limerick Institute of Technology',
                    
                    'University of Limerick',
                    
                    'Pontifical University, St Patrick\'s College',
                    'Maynooth University',
                    'St. Angela`s College',
                    
                    'Institute of Technology, Sligo',
                    'Institute of Technology, Tralee',
                    
                    'Waterford Institute of Technology']

In [215]:
path = 'data/cao_2019_raw_data.txt'
   # read csv
df

                                           #
0    Test / Interview / Portfolio / Audition
1                                        AQA
2                   All qualified applicants
3                                Course Code
4                     INSTITUTION and COURSE
..                                       ...
169                                    CW248
170        Information Technology Management
171                                      307
172                                      357
173                                   Page 1

[174 rows x 1 columns]